<h1>Places</h1>

<div class="p-2">
  <ul>
  <% for place in @places %>
    <p><a href="/places/<%= place["id"] %>" class = "ms-2 mt-2"><%= place["name"] %></a></p>
  <% end %>
  </ul>
</div>

<p>
  <a href="/places/new" class="btn btn-primary">New place</a>
</p>